version: "{build}"

os: Windows Server 2012 R2

clone_folder: c:\projects\src\github.com\koding\kite

environment:
 PATH: c:\projects\bin;%PATH%
 GOPATH: c:\projects
 GOVERSION: 1.9.1

install:
 - go version

 # update Go
 - rmdir c:\go /s /q
 - appveyor DownloadFile https://storage.googleapis.com/golang/go%GOVERSION%.windows-amd64.zip
 - 7z x go%GOVERSION%.windows-amd64.zip -y -oC:\ > NUL

 - go get -u -v github.com/golang/dep/cmd/dep
 - dep ensure -vendor-only -v

build_script:
 - go build ./...
 - go test -v -race github.com/koding/kite github.com/koding/kite/dnode github.com/koding/kite/systeminfo
 # - go test -v -race ./...

test: off

deploy: off
